#!/bin/sh

# Config file for subnodes-lighttpd configuration
# WIRELESS RADIO DRIVER
RADIO_DRIVER=nl80211

# ACCESS POINT
AP_COUNTRY=US
AP_SSID=subnodes-lighttpd
AP_CHAN=1
AP_IP=192.168.3.1
AP_NETMASK=255.255.255.0

# DNSMASQ STUFF
DHCP_START=192.168.3.101
DHCP_END=192.168.3.254
DHCP_NETMASK=255.255.255.0
DHCP_LEASE=1h

# FLAGS
DO_SET_MESH=Nn

# BRIDGE
BRIDGE_IP=192.168.3.1
BRIDGE_NETMASK=255.255.255.0

# MESH POINT
MESH_SSID=meshnode
MESH_CHAN=3
CELL_ID=02:12:34:56:78:90